html{
    background-color: #ffd1e0;
}
header img{
    width: 90px;
}

nav a{
    text-align: center;
    color: #e60045;
    padding: 20px;
    text-decoration: none;
}
nav{
    border-radius: 10px;
    border: 2px solid #f54295;
    padding: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 18px;
}
main img{
    width: 230px;
    height: 230px;
    display: inline-block;
    gap: 0px;
}
main p{
    background-color: #ffe3ef;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer img{
  width: 70px;
}

h1{
position: absolute;
font-family: Quicksand;
font-size: 50px;
}

.title {
    margin-right: 650px;
}
td, tr{
    padding: 15px;
}
.con{
    background-color:#ffe3ef ;
}
table{
    background-color:#ffe3ef ;
}

